{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blogs by Shen{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body>

    <header class="blog-header">
        <h1>Blogs by Shen</h1>
        <p class="subtitle">express yourself</p>
    </header>


    <main id="content">
        {% block content %}{% endblock %}
    </main>

</body>

</html>